{% extends "base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}

    <div class="container">

            <main class="col-9 border border-light bg-light p-2">
                <h1>Administration</h1>
            </main>
            {% include "partials/adminnav.html.twig" %}

    </div>



{% endblock %}