{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<br>
<div class="container">

    <h1>Modification d'une catégorie</h1>
    <br>
    {{ form(form) }}
</div>

{% endblock %}
