{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<br>
<div class="container">


{% for message in app.flashes('success') %}
    <div class="flash-success">
        {{ message }}
    </div>
{% endfor %}

    <h1>Ajout d'une catégorie</h1>
    <br>
    {{ form(form) }}
</div>

{% endblock %}
