{% extends 'base.html.twig' %}

{% block title %}détail plat - The District{% endblock %}






{% block body %}

<br>
<br>
<div class="container col-12">
    <h1>{{ plat.libelle }}</h1>
</div>

<div class="container">


    <div class="row">

    <div class="col-6">
    <br>
    <img src="{{ asset('images_the_district/plat/mini/300x300-' ~ plat.image ) }}">
    <br>
    </div>
    

    <div class="col-6 align-self-center">

    <h4>Description :</h4>
    {{ plat.description }}
    <br>
    <a href="{{ path('cart_add', {'id': plat.id}) }}" class="btn btn-primary mt-4" >Ajouter au panier</a>
    </div>

    </div>



</div>


<br>

</div>







{% endblock %}